<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbHJWsj8WlXwuccxt54q0coeSZXgX0CHs</string>
	<key>GCM_SENDER_ID</key>
	<string>944331427196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infer.care</string>
	<key>PROJECT_ID</key>
	<string>infer-339ba</string>
	<key>STORAGE_BUCKET</key>
	<string>infer-339ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944331427196:ios:eb2875d4fdeeb7e10ea8f9</string>
</dict>
</plist>
